.footer{
    background-color: #0f0f0f;
    color: #fff;
    padding-block: 3em;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-gap: 1em;
    .footer-section{
        p{
            opacity: .9;
            margin-bottom: .5em;
        }
        p.title{
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 1em;
            span{
                color: var(--primary-color);
            }
        }
        .contact{
            a{
                color: #fff;
            }
            svg{
                float: left;
                padding-right: .2em;
            }
        }
        .social{
            a{
                &:nth-child(1){
                    color: #0063f7;
                }
                &:nth-child(2){
                    color: #13b4ff;
                }
                &:nth-child(3){
                    color: #ff258b;
                }
            }
            svg{
                float: left;
                padding-right: .2em;
            }
        }
    }
}