.section.improve-skills{
    .col.img{
        border-radius: 3px;
        overflow: hidden;
        transform: scale(0);
        opacity: 0;
        animation: getAnimationDuration(.3s) popOut forwards;
        img{
            box-shadow: 0 15px 15px var(--shadow-color);
            padding-top: .5em;
            max-width: 100%;
            height: auto;
        }
    }
    .col.typography{
        padding-left: 5em;
        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            padding: .1em 0 .1em .5em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.3s) slideInRight forwards;
            @for $i from 2 through 7 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .1}s;
                }
            }
        }
        .btn{
            margin-top: .75em;
        }
    }
}