// Variabel
:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 174, 0);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 3;

}

@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}

img{
    object-fit: cover;
}


.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

//Import File Untuk Navbar
@import "partials/_navbar.scss";

.section{
    display: flex;
    align-items: center;
    .title{
        color: var(--primary-color);
        font-size: 3em;
        margin-bottom: .25em;
        text-shadow: 0 ipx 3px var(--shadow-color);
        span{
            color: var(--text-color);
        }
    }
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;
    }
    .col{
        width: 50%;
    }
}

.section.hero{
    .typography{
        padding-right: 1em;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.75vw;
        .custom-image{
            border-radius: 3px;
            overflow: hidden;
            transform: scale(0);
            opacity: 0;
            animation: getAnimationDuration(.3s) popOut forwards;
            &:nth-child(2){
                animation-delay: .1s;
            }
            &:nth-child(3){
                animation-delay: .2s;
            }
            &:nth-child(6){
                animation-delay: .3s;
            }
            &:nth-child(9){
                animation-delay: .4s;
            }
            &:nth-child(8){
                animation-delay: .5s;
            }
            &:nth-child(7){
                animation-delay: .6s;
            }
            &:nth-child(4){
                animation-delay: .7s;
            }
            &:nth-child(5){
                animation-delay: .8s;
            }

        }
    }
}

.main{
    padding-block: 3vw;
}

.container{
    padding-inline: 15vw;
}
// Import File Untuk Animasi
@import "partials/_animations.scss";
@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    
}