:root{
    --background-color: #ffffff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 174, 0);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 1;
}

@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('bgcutting.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
    padding-top: 75px;
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}

.judul.daerah{
    color: var(--text-color);
}

.deskripsi{
    border-left: .5em solid var(--primary-color);
    color: var(--text-light);
    font-weight: 500;
    margin: 0.5cm;
    padding-inline: 0.5cm;
    padding-block: 0.5cm;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    box-shadow: 0 2px 6px var(--shadow-color);
    color: #fff;
    padding: .75em 1em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 100px;
    text-transform: uppercase;
    transition: transform 0.3s ease;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
    }
}

.google-login-container{
    margin-top: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    .google-login-btn{
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        padding: .75em 1em;
        text-transform: uppercase;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 1px;
        border-radius: 3px;
        box-shadow: 0 2px 6px var(--shadow-color);
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
        }
    }
}

button.google-login-btn svg {
    margin-right: 10px;
  }

.signup-container-btn{
    display: flex;
    flex-direction: column;
    margin-top: 1cm;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color: var(--text-light);
    }
    .btn{
        margin-block: 1em 2.5em;
    }
}

.custom-image{
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@import "materials/navbar.scss";

// Body1
.section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 3vw;
    &.d-block{
        display: block;
    }
    .title{
        color: var(--primary-color);
        font-size: 3em;
        margin-bottom: .35em;
        font-weight: 900;
        span{
            color: var(--text-color);
        }
    }
    .info{
        color: var(--text-light);
        font-size: larger;
        letter-spacing: 1px;
        line-height: 1.5;
        margin-bottom: 1.25em;

    }
    .col{
        width: 50%;
    }
}

@import "materials/Title.scss";
@import "materials/ResepUnggulan.scss";
@import "materials/Daerah.scss";
@import "materials/signupform.scss";
@import "materials/Search.scss";
@import "materials/Recipes.scss";


/*.options-container{
    box-shadow: 0 5px 10px var(--shadow-color);
    padding: 1em;
    border-radius: 5px;
    border-left: .5em solid var(--primary-color);
    background-color: var(--background-light);
    margin-top: 1em;
    display: flex;
    gap: 1em;
    .option{
        height: 3.5em;
        width: 3.5em;
        box-shadow: 0 3px 6px var(--shadow-color);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &.light{
            background-color: #fff;
        }
        &.dark{
            background-color: rgb(29, 29, 29);
        }
        .check{
            height: 2.5em;
            width: 2.5em;
            background-color: var(--primary-color);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 5px var(--shadow-color);
            svg{
                height: 1.5em;
                width: 1.5em;
            }
        }
    }
    .btn span{
        display: inline-block;
        margin-left: .5em;
    }
}*/
.d-block h2{
    font-size: 1.75em;
    color: var(--text-color)
}

@import "materials/Footer.scss";



.main{
    padding-block: 5vw;
}
.container{
    padding-inline: 25vw;
}

@import "materials/Animations.scss";

@media screen and (max-width: 1280px){
    .container{
        padding-inline: 5vw;
    }
}
@media screen and (max-width: 1050px){
    .container{
        padding-inline: 7vw;
    }

    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
        .gallery{
            margin-top: .5cm;
        }
    .title{
        margin-top: 1.5cm;
    }
    }
    .section.section.improve-skills{
        margin-top: 1cm;
    }
    .skill-item{
        display: inline-block;
        margin: .75em;
    }
    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .chief-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    
    }
    .footer{
        grid-template-columns: 2fr 2.25fr 1fr;
    }
    
    span{
        width: 28px;
    }


@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    .section{
        .col{
            width: 100%;
            padding: 0 !important;
            text-align: center;
            margin-bottom: 2em;
        }
        .gallery{
            margin-top: .5cm;
        }
    .title{
        margin-top: 1.5cm;
    }
    }
    .section.section.improve-skills{
        margin-top: 1cm;
    }
    .skill-item{
        display: inline-block;
        margin: .75em;
    }
    .section.improve-skills .btn{
        display: block;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .chief-card{
        box-shadow: 0 5px 10px var(--shadow-color);
    }
    .container{
        padding-inline: 6vw;
    }
    .footer{
        grid-template-columns: repeat(3, 1fr);
        .footer-section:nth-child(1){
            grid-column: span 4;
        }
        .footer-section:nth-child(2), .footer-section:nth-child(3){
            grid-column: span 2;
        }
    }
}

@media only screen and (max-width: 600px) {
    .sign-in-form-container {
      max-width: 90%;

    }
}

@media screen and (max-width: 480px){
    .container{
        padding-inline: 3vw;
    }
}