// Variabel
:root{
    --background-color: #fff;
    --background-light: #fff;
    --shadow-color: rgba(0,0,0,0.2);
    --primary-color: rgb(255, 136, 0);
    --text-color: #0A0A0A;
    --text-light: #575757;
    --font-size: 16px;
    --animation-speed: 3;

}

// Function Animasi
@function getAnimationDuration($duration: number) {
    @return calc($duration * var(--animation-speed));
}

// Main Setting
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Font Size Pada Body Web
body{
    font-size: var(--font-size);
    font-family: 'Roboto', sans-serif;
}

// Menghilangkan Decoration Pada Text
a{
    text-decoration: none;
}

// Mengatur Tampilan Gambar Makanan 3x3
img{
    object-fit: cover;
}

// Mengatur Tombol Temukan Citarasa
.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75em 1em;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 1px;
    border-radius: 3px;
    box-shadow: 0 2px 6px var(--shadow-color);
    // Animasi Tombol Temukan Cita Rasa
    &:hover{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
}

// Mengatur Ukuran Gambar 3x3
.custom-image{
    background-color: red;
    height: 0;
    width: 100%;
    position: relative;
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

//Import File Untuk Navbar
@import "partials/_navbar.scss";

// Mengatur h1 ResepNusantara
.section{
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    // Title
    .title{
        color: var(--primary-color);
        font-size: 2.5em;
        margin-bottom: .25em;
        font-weight: 900;
        text-shadow: 0 ipx 3px var(--shadow-color);
        span{
            color: var(--text-color);
        }
    }
    // Paragraph info
    .info{
        color: var(--text-light);
        font-size: 1em;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25em;
    }
    // Mengatur Area Paragraph
    .col{
        width: 50%;
    }
}

// Import File hero-section
@import "partials/_imagesection";

// Mengatur Area Resep Trending
@import "partials/reseptrending";

// Mengatur Padding Atas Bawah
.main{
    padding-block: 3vw;
}

// Mengatur Padding Kiri Kanan
.container{
    padding-inline: 12vw;
}

// Import File Untuk Animasi
@import "partials/_animations.scss";

// Mengatur Sidebar
@media screen and (max-width: 768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display: block;
        }
    }
    
}