.section.chiefs{
    display: block;
    .title{
        color: var(--text-color);
    }
}
.top-chiefs-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 1.5em;
    margin-top: 3em;
}
.chief-card{
    display: flex;
    border-right: .3em solid var(--primary-color);
    box-shadow: 0 3px 6px var(--shadow-color);
    background-color: rgba(0, 0, 0, 0.5);
    height: 130px;
    border-radius: 10px;
    overflow: hidden;
    animation: getAnimationDuration(0.5s) popOut;
    transition: transform 0.3s ease;
    &:hover {
        transform: scale(1.1);
    }
    img{
        height: 100%;
        width: 120px;
        border-radius: 5px;
        box-shadow: 0 3px 6px var(--shadow-color);
    }
    .chief-card-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-top: 1em;
        .daerah{
            font-size: 1.3em;
            font-weight: bold;
            color: var(--primary-color);
        }
        .jumlah_menu, .paling_terkenal{
            font-size: .9em;
            color: var(--text-light);
        }
    }
}

.judul.daerah{
    color: var(--text-color);
}

.deskripsi{
    background-color: var(--transparent-color);
    border-left: .5em solid var(--primary-color);
    color: var(--text-color);
    font-weight: 500;
    margin: 0.5cm;
    padding-inline: 0.5cm;
    padding-block: 0.5cm;
}