.section.improve-skills{
    margin-top: 5em;
    .col.img{
        box-shadow: 0 15px 10px var(--shadow-color);
        width: 450px;
        height: 450px;
        border-radius: 25px;
        overflow: hidden;
        margin: 0 auto;
        animation: getAnimationDuration(0.5s) popOut;
        transition: transform 0.3s ease;
        &:hover {
            transform: scale(1.1);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
}
    .col.typography{
        text-align: center;
        .title{
            color: var(--primary-color);
        }
        .skill-item{
            margin-bottom: 1.5em;
            padding: .5em;
            color: var(--text-color);
            font-weight: bold;
            text-align: justify;
            font-size: 1.2em;
            line-height: 1.6;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.3s) slideInRight forwards;
        }
    }
    .section.quote{
        margin-top: 5em;
        text-align: center;
        font-weight: bold;
        display: block;
        .qoute-text{
            font-size: 1.2em;
            line-height: 1.3;
            color: var(--text-color);
            font-size: larger;
        }
    }
}