.form-container {
  background-color: var(--transparent-color);
  box-shadow: 0 5px 10px var(--shadow-color);
  border-left: .3em solid var(--primary-color);
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 2vh;
  animation: getAnimationDuration(0.5s) slideInRight;
    transition: transform 0.3s ease;
}

.form {
  padding-bottom: 3em;
  padding-top: 1em;
  padding-inline: 1cm;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-bottom: 20px;
  .text-danger{
    color: rgb(216, 19, 19);
    font-weight: bold;
  }
}
  
    h2 {
      color: var(--text-color);
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  
    .form-group {
      flex-direction: column;
      margin-bottom: 3rem;
      text-align: left;
      width: 100%;
  
      label {
        color: var(--text-color);
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
  
      input {
        background-color: #f8f8f8;
        font-family: 'Roboto', sans-serif;
        border: none;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-bottom: 1rem;
        margin-top: 0.5rem;
        font-size: 1.2rem;
        width: 100%;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
      }

      input[type="text"]:focus,
      input[type="password"]:focus,
      input[type="email"]:focus,
      textarea:focus {
        font-weight: bold;
        border-inline: .4em solid var(--primary-color);
        background-color: transparent;
        color: var(--text-color);
      }
      
      input:focus {
        outline: none;
        box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
      }
      
      input::placeholder {
        color: #999999;
      }
      
      
    }
    .signup-container-btn{
      display: flex;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
          color: var(--text-color);
          font-weight: bold;
      }
      .btn{
          margin-block: 2vh 6vh;
      }
  }