.section.hero {
    .typography {
        text-align: center;
        font-size: 21px;
    }
    .gallery {
        padding-inline: 1cm;
        padding-block: 1cm;
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 2vw;
        .custom-image {
            box-shadow: 0 15px 10px var(--shadow-color);
            border-radius: 25px;
            overflow: hidden;
            animation: getAnimationDuration(0.5s) popOut;
            transition: transform 0.3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
